/IntegraCVP/src/IntegraCVP.Application/bin/Debug/net8.0/*.dll
/IntegraCVP/src/IntegraCVP.Application/obj/Debug/net8.0
/IntegraCVP/src/IntegraCVP.Application/bin/Debug/net8.0/Resources
/IntegraCVP/src/IntegraCVP.Application/bin/Debug/net8.0
/IntegraCVP/.vs/IntegraCVP/v17
/IntegraCVP/.vs/IntegraCVP/FileContentIndex
/IntegraCVP/.vs/IntegraCVP/config
/IntegraCVP/.vs/ProjectEvaluation
/IntegraCVP/.vs/IntegraCVP/DesignTimeBuild/.dtbcache.v2
/IntegraCVP/src/IntegraCVP.Application/obj
/IntegraCVP/src/IntegraCVP.Domain/obj/Debug/net8.0
/IntegraCVP/src/IntegraCVP.UI/obj/Debug/net8.0
/IntegraCVP/tests/IntegraCVP.Application.Tests/obj/Debug/net8.0
/IntegraCVP/tests/IntegraCVP.Infrastructure.Tests/obj
/IntegraCVP/tests/IntegraCVP.Infrastructure.Tests/bin/Debug/net8.0
/IntegraCVP/tests/IntegraCVP.Domain.Tests/bin/Debug/net8.0/CoverletSourceRootsMapping_IntegraCVP.Domain.Tests
/IntegraCVP/tests/IntegraCVP.Domain.Tests/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/IntegraCVP/tests/IntegraCVP.Domain.Tests/obj/Debug/net8.0/IntegraCVP.Domain.Tests.AssemblyInfo.cs
/IntegraCVP/tests/IntegraCVP.Domain.Tests/obj/Debug/net8.0/IntegraCVP.Domain.Tests.AssemblyInfoInputs.cache
/IntegraCVP/tests/IntegraCVP.Domain.Tests/obj/Debug/net8.0/IntegraCVP.Domain.Tests.GeneratedMSBuildEditorConfig.editorconfig
/IntegraCVP/tests/IntegraCVP.Domain.Tests/obj/Debug/net8.0/IntegraCVP.Domain.Tests.GlobalUsings.g.cs
/IntegraCVP/tests/IntegraCVP.Domain.Tests/obj/Debug/net8.0/IntegraCVP.Domain.Tests.assets.cache
/IntegraCVP/tests/IntegraCVP.Domain.Tests/obj/Debug/net8.0/IntegraCVP.Domain.Tests.csproj.AssemblyReference.cache
/IntegraCVP/tests/IntegraCVP.Domain.Tests/obj/Debug/net8.0/IntegraCVP.Domain.Tests.csproj.FileListAbsolute.txt
/IntegraCVP/tests/IntegraCVP.Application.Tests/bin/Debug/net8.0/CoverletSourceRootsMapping_IntegraCVP.Application.Tests
/IntegraCVP/tests/IntegraCVP.Application.Tests/obj/IntegraCVP.Application.Tests.csproj.nuget.dgspec.json
/IntegraCVP/tests/IntegraCVP.Application.Tests/obj/IntegraCVP.Application.Tests.csproj.nuget.g.props
/IntegraCVP/tests/IntegraCVP.Application.Tests/obj/IntegraCVP.Application.Tests.csproj.nuget.g.targets
/IntegraCVP/tests/IntegraCVP.Application.Tests/obj/project.assets.json
/IntegraCVP/tests/IntegraCVP.Application.Tests/obj/project.nuget.cache
/IntegraCVP/src/IntegraCVP.UI/bin/Debug/.gitignore
/IntegraCVP/src/IntegraCVP.UI/obj/IntegraCVP.UI.csproj.nuget.dgspec.json
/IntegraCVP/src/IntegraCVP.UI/obj/IntegraCVP.UI.csproj.nuget.g.props
/IntegraCVP/src/IntegraCVP.UI/obj/IntegraCVP.UI.csproj.nuget.g.targets
/IntegraCVP/src/IntegraCVP.UI/obj/project.assets.json
/IntegraCVP/src/IntegraCVP.UI/obj/project.nuget.cache
/IntegraCVP/src/IntegraCVP.Domain/bin/Debug/net8.0/IntegraCVP.Domain.deps.json
/IntegraCVP/src/IntegraCVP.Domain/bin/Debug/net8.0/IntegraCVP.Domain.dll
/IntegraCVP/src/IntegraCVP.Domain/bin/Debug/net8.0/IntegraCVP.Domain.pdb
/IntegraCVP/src/IntegraCVP.Domain/obj/IntegraCVP.Domain.csproj.nuget.dgspec.json
/IntegraCVP/src/IntegraCVP.Domain/obj/IntegraCVP.Domain.csproj.nuget.g.props
/IntegraCVP/src/IntegraCVP.Domain/obj/IntegraCVP.Domain.csproj.nuget.g.targets
/IntegraCVP/src/IntegraCVP.Domain/obj/project.assets.json
/IntegraCVP/src/IntegraCVP.Domain/obj/project.nuget.cache
/IntegraCVP/src/IntegraCVP.Infrastructure/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/IntegraCVP/src/IntegraCVP.Infrastructure/obj/Debug/net8.0/IntegraCVP.Infrastructure.AssemblyInfo.cs
/IntegraCVP/src/IntegraCVP.Infrastructure/obj/Debug/net8.0/IntegraCVP.Infrastructure.AssemblyInfoInputs.cache
/IntegraCVP/src/IntegraCVP.Infrastructure/obj/Debug/net8.0/IntegraCVP.Infrastructure.GeneratedMSBuildEditorConfig.editorconfig
/IntegraCVP/src/IntegraCVP.Infrastructure/obj/Debug/net8.0/IntegraCVP.Infrastructure.GlobalUsings.g.cs
/IntegraCVP/src/IntegraCVP.Infrastructure/obj/Debug/net8.0/IntegraCVP.Infrastructure.assets.cache
/IntegraCVP/src/IntegraCVP.Infrastructure/obj/Debug/net8.0/IntegraCVP.Infrastructure.csproj.AssemblyReference.cache
/IntegraCVP/src/IntegraCVP.Infrastructure/obj/Debug/net8.0/IntegraCVP.Infrastructure.csproj.FileListAbsolute.txt
/IntegraCVP/src/IntegraCVP.Infrastructure/obj/IntegraCVP.Infrastructure.csproj.nuget.dgspec.json
/IntegraCVP/src/IntegraCVP.Infrastructure/obj/IntegraCVP.Infrastructure.csproj.nuget.g.props
/IntegraCVP/src/IntegraCVP.Infrastructure/obj/IntegraCVP.Infrastructure.csproj.nuget.g.targets
/IntegraCVP/src/IntegraCVP.Infrastructure/obj/project.assets.json
/IntegraCVP/src/IntegraCVP.Infrastructure/obj/project.nuget.cache
